// colors
$color-primary: #355f6f;
$color-primary-dark: #214c5c;
$color-primary-darker: #0e3543;
$color-primary-light: #537886;
$color-primary-lighter: #7c97a2;


$color-secondary: #b19550;
$color-secondary-dark: #937631;
$color-secondary-darker: #6b5213;
$color-secondary-light: #d6bd81;
$color-secondary-lighter: #ffedc0;

$color-tertiary: #b16150;


$color-grey: #696969;
$color-white: #fff;
$color-black: #3a3a3a;


// images path
$img-path: "../IMG/";
