// colors
$color-primary: #355f6f;
$color-primary-dark: #214c5c;
$color-primary-darker: #0e3543;
$color-primary-light: #537886;
$color-primary-lighter: #7c97a2;


$color-secondary: #AA9C77;
$color-secondary-dark: #887A54;
$color-secondary-darker: #685930;
$color-secondary-light: #CDC2A3;
$color-secondary-lighter: #F9F2DD;

$color-tertiary: #b16150;


$color-grey: #696969;
$color-grey-light: #efefef;
$color-white: #fff;
$color-black: #3a3a3a;


// images path
$img-path: "../IMG/";
