// colors
$color-primary: #355f6f;
$color-primary-dark: #214c5c;
$color-primary-darker: #0e3543;
$color-primary-light: #537886;
$color-primary-lighter: #7c97a2;


$color-secondary: #695e3a;
$color-secondary-dark: #958961;
$color-secondary-darker: #6b5213;
$color-secondary-light: #d9d1b5;
$color-secondary-lighter: #ffeaea;

$color-tertiary: #b16150;


$color-grey: #696969;
$color-grey-light: #efefef;
$color-white: #fff;
$color-black: #3a3a3a;


// images path
$img-path: "../IMG/";
