@import "../abstracts/maps";
@import "../abstracts/mixins";
@import "../abstracts/variables";
@import "../base/animations";

.footer {
    color: rgba($color-secondary-lighter, .85);
    background-image: linear-gradient(to right, $color-primary-darker 0%, $color-primary  51%, $color-primary-darker  100%);
    margin-top: map-get($margin, medium);
    font-size: map-get($font-size, regular);
    max-width: 100%;
    text-transform: uppercase;
    padding: map-get($padding, small);

    @include media-queries-max-width(mobile) {
        font-size: map-get($font-size, medium);
    }

    &__content {
        @include flex-rows;
        justify-content: center;
        align-items: center;
        padding: map-get($padding, tiny);
        align-items: center;
        gap: 3rem;

        @include media-queries-max-width(small-desktop) {
            padding: map-get($padding, small);
        }

        @include media-queries-max-width(tablet) {
            @include flex-columns;
            justify-content: center;
            align-items: center;
        }
    }

    &__address{
        flex-basis: 100%;
        text-align: center;
    }

}




