@import "../abstracts/maps";
@import "../abstracts/mixins";
@import "../abstracts/variables";

// NAVBAR
.navbar {
    
    background-color: $color-white;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    top:0;
    width: 100%;
    padding: map-get($padding, small);
    opacity: 0.96;
    transition: all 80ms ease-out;
    z-index: 999;

    display: flex;
    justify-content: center;


    // UL NAV MENU
    &__menu {
        // flex
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;

        @include font-family(normal);
        text-transform: uppercase;
        letter-spacing: 1.3px;


        @include media-queries-max-width(medium-tablet) {
            gap: 1rem;
            width: 90%;
            justify-content: space-around;
        }

        @include media-queries-max-width(large-mobile) {
            justify-content: center;
        }
    
            .no-display {
                @include media-queries-max-width(small-desktop) {
                    display: none;
                    width: 0;
                }
            }

            .no-display--deep {
                @include media-queries-max-width(large-mobile) {
                    display: none;
                }
            }
             
            // NAV LINKS STATES
            &-item--link:link,
            &-item--link:visited {
                transition: all 400ms linear;
                border: none;
                color: rgba($color-primary, .8);
                transform: scale(1);
                padding-top: .1rem;
                position: relative;
                letter-spacing: 2px;

                &::after {
                    content: "";
                    position: absolute;
                    top: -8px;
                    left: 0;
                    margin: 0 auto;
                    background-color: $color-primary;
                    line-height: 1.4;
                    width: 100%;
                    height: 2px;
                    opacity: 0;
                    transition: opacity 300ms linear;

                }
            }

            &-item--link:hover {
                color: rgba($color-tertiary, 1);

                &::after {
                    opacity: 1;
                }
            }
     }


    }

    .scrolled {
        @include shadow($color-primary-lighter);
    }







