@import "../abstracts/maps";
@import "../abstracts/mixins";
@import "../abstracts/variables";

// NAVBAR
.navbar {
    
    background-color: $color-white;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    top:0;
    width: 100vw;
    padding: map-get($padding, tiny);
    opacity: 0.96;
    z-index: 999;
    @include shadow($color-primary-lighter);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all ease-in-out;

    @include media-queries-max-width(small-desktop) {
        justify-content: space-between;
    }

    &__logo {
        display: flex;
        flex-flow: row nowrap;
        gap: 2rem;

        @include media-queries-max-width(tablet) {
            margin-left: 5rem;
        }

        @include media-queries-max-width(large-mobile) {
            gap: 1rem;
            margin-left: 2rem;
        }
    }


    // UL NAV MENU
    &__menu {
        // flex
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-evenly;
        gap: 2rem;
        width: 100%;

        @include font-family("normal");
        text-transform: uppercase;
        letter-spacing: 1.3px;


        @include media-queries-max-width(tablet) {
            justify-content: center;
            gap: 0;
        }

            .no-display--1 {
                @include media-queries-max-width(medium-desktop) {
                    display: none;
                }
            }
    
            .no-display--2 {
                @include media-queries-max-width(small-desktop) {
                    display: none;
                }
            }

            .no-display--3 {
                @include media-queries-max-width(tablet) {
                    display: none;
                }
            }
             
            // NAV LINKS STATES
            &-item--link:link,
            &-item--link:visited {
                transition: all 400ms linear;
                border: none;
                color: $color-primary;
                transform: scale(1);
                padding-top: .1rem;
                position: relative;
                letter-spacing: 2px;

                &::after {
                    content: "";
                    position: absolute;
                    top: -8px;
                    left: 0;
                    margin: 0 auto;
                    background-color: $color-primary;
                    line-height: 1.4;
                    width: 100%;
                    height: 2px;
                    opacity: 0;
                    transition: opacity 300ms linear;

                }
            }

            &-item--link:hover {
                color: rgba($color-tertiary, 1);

                &::after {
                    opacity: 1;
                }
            }
     }


    }

    .nav-icon {
        display: none;
        font-size: 2.8rem;
        margin-right: 5rem;

        @include media-queries-max-width(tablet) {
            display: block;
        }

        @include media-queries-max-width(large-mobile) {
            margin-right: 2rem;
        }
    }

    .responsive {

        @include media-queries-max-width(tablet) {

        @include flex-columns;
        background-color: $color-primary;
        color: $color-white;
        opacity: 1;

        .no-display--3 {
            display: block;
            margin-left: 3rem;
        }

        .navbar__menu {
            @include flex-columns;
            align-items: flex-start;
            gap: 2rem;

            li a {
                color: $color-white!important;
            }
        }

        #hamburger {
            color: $color-white!important;
            margin: 0;
        }

        .navbar__logo {
            width: 100%;
            opacity: 0.9;
            margin: 0;

        }

        .navbar__menu-item--link:visited::after {
            background-color: $color-secondary;
        }

        }
        
    }

    .hide {
        display: none;
        transition: all linear 3ms;
    }







