@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "../abstracts/maps";
@import "../base/animations";


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /*  1rem = 10px */
    font-size: 62.5%; 
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden!important;
    width: 100vw;

    @include media-queries-max-width(tablet) {
        font-size: 57%;
    };

    @include media-queries-max-width(mobile) {
        font-size: 48%;
    };
}

body {
    position: relative;
    height: fit-content;
    width: 100%;
    background-color: transparent;
}

.full-length {
    flex-basis: 100%;
}

#main {
    padding-top: map-get($padding,large);
}

//////////////////////////////////////////////////////////////////////////////////////////////7
// HERO
.hero {
    @include flex-columns;
    justify-content: center;
    gap: 4rem;
    position: relative;
    padding: map-get($padding, medium);
    padding-bottom: 0;
    min-height: 100vh;
    max-width: 100%;
    color: $color-white;
    z-index: 1;

    background-image: url("#{$img-path}3.jpg");
    background-color: $color-white;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

    @include media-queries-max-width(large-mobile) {
        min-height: 120%;
    }


    // H1
    &__title {
        font-size: 3rem;
        height: max-content;
        text-transform: uppercase;
        width: 60%;
        line-height: 1.5;
        flex-basis: 75%;
        opacity: 1;

        // MEDIA RULES
        @include media-queries-max-width(small-desktop) {
            line-height: 1.5;
            font-size: 2.2rem;
        }

        @include media-queries-max-width(tablet) {
            font-size: 2rem;
        }

    }

    // HERO H2
    &__h2 {
        font-family: "Tangerine", cursive;
        font-style: normal;
        line-height: 1;
        letter-spacing: 0;
        font-size: 10rem;
        font-weight: map-get($font-weight,bold);
        width: 70%;

        @include media-queries-max-width(medium-desktop) {
            font-size: 8.5rem;
        }

        @include media-queries-max-width(small-desktop) {
            font-size: 7.5rem;
        }

        @include media-queries-max-width(large-mobile) {
            font-size: 6.5rem;
            padding-top: map-get($padding, large);
        }

        span {
            font-size: 18rem;

            @include media-queries-max-width(medium-desktop) {
                font-size: 13rem;
            }

            @include media-queries-max-width(small-desktop) {
                font-size: 10rem;
            }

            @include media-queries-max-width(large-mobile) {
                font-size: 6rem;
            }
        }
    }

    
    // BTNS CONTAINERS
        .btn-container {
            @include flex-rows;
            align-items: center;
            justify-content: flex-start;
            flex-basis: 50%;

            
            @include media-queries-max-width(large-mobile) {
                padding-bottom: map-get($padding, large);
            }
            
        
        }
}
// HERO ENDS

/////////////////////////////////////////////////////////////////////////

//article
.article {
    display: flex;
    // margin-top: 3rem;
    gap: 4rem;
    min-height: 100vh;
    padding: map-get($padding,medium);

    h2 {
        margin-left: 10%;
        text-transform: uppercase; 
    }
    
    
    // ABOUT SECTION
    &__about {
        @include flex-rows;
        align-items: center;

        @include media-queries-max-width(small-desktop) {
            justify-content: center;
            align-items: flex-start;
            gap: 6rem;
        }

        @include media-queries-max-width(tablet) {
            font-size: 2rem;
        }

        &--h2 {
            flex-basis: 66%;

            @include media-queries-max-width(small-desktop) {
                flex-basis: 100%;
                margin-left: 0;
                text-align: center;
            }
        }

        &--h3 {
            margin-left: 10%;
            text-transform: lowercase;
            
            background-image: linear-gradient(to left, $color-secondary 0%, $color-secondary  75%, $color-secondary-light  100%);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        &--content {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            align-items: center;

            
            @include media-queries-max-width(small-desktop) {
                flex-flow: column-reverse wrap;
                gap: 4rem;
            }
        }

        &--img {
            height: auto;
            max-width: 100%;
            object-fit: cover;
            clip-path: polygon(15% 0, 100% 0, 88% 100%, 0% 100%);
            @include shadow($color-primary-darker);

            @include media-queries-max-width(small-desktop) {
                height: 75%;
            }
        }

        &--text {
            flex-basis: 35%;
            max-height: fit-content;
            box-shadow: -.7px 0px 0px 0px $color-secondary;
            padding-left: map-get($padding, medium);

            @include media-queries-max-width(small-desktop) {
                flex-basis: 100%;
            }

            @include media-queries-max-width(large-mobile) {
                box-shadow: none;
                padding-left: 0;
            }
        }

        &--btn--container {
            display: flex;
            flex-flow: row nowrap;
            gap: 3rem;
            margin-left: 10%;

            @include media-queries-max-width(small-desktop) {
                margin-left: 0;
            }
        }
    }

//////////////// SERVIZI SECTION


    &__servizi {
        @include flex-rows;
        align-items: center;
        background-color: rgba($color-grey-light, 1);

        @include media-queries-max-width(tablet) {
            padding: map-get($padding, tiny);
          }

        
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-size: map-get($font-size, regular);

        list-style: none;
        margin: 0;
        padding: 0;

        .card {
            background-color: white;
            border-radius: 5rem;
            box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            justify-content: flex-end;
            overflow: hidden;
            padding: 3rem 1rem 1rem 1rem;
            text-align: justify;
    
            &_text {
                font-size: 1.5rem;
                line-height: 1.5;
                margin-bottom: 1.25rem; 
            }
    
            &_content {
                padding: 2.5rem 2.5rem 1.5rem 2.5rem;
                @include flex-columns;
                gap: 2rem;
            }
    
            &_title {
                margin: 0px;
            }
    
            .icon {    
                background-image: linear-gradient(to left, $color-secondary 0%, $color-secondary  75%, $color-secondary-light  100%);
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                font-size: 4rem;
               }
          }
      
      
      .cards_item {
        display: flex;
        padding: 1rem;


        @include media-queries-max-width(medium-desktop) {
          flex-basis: 50%;
        }

        @include media-queries-max-width(tablet) {
            flex-basis: 100%;
            font-size: 3rem;
          }
        
        @include media-queries-min-width(medium-desktop) {
            flex-basis: 33.3333%;

        }

      }

    }


      // CONTATTI
       &__contatti {
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: center;


        h2 {
            flex-basis: 100%;
        }

        h3 {
            text-align: left;
        }

        &--indirizzo {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            gap: 2rem;
            flex-basis: 40%;

            &_titolo {
                display: flex;
                flex-flow: row nowrap;
                gap: 3rem;
            }
        }

        &--address {
            flex-basis: 100%;
        }

        &--link {
            background-image: linear-gradient(to bottom, $color-primary-darker 0%, $color-primary  51%, $color-primary-darker  100%);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-left: 2rem;
            text-transform: uppercase;
        }

        &--icon-list {
            flex-basis: 100%;
            @include flex-columns;
            gap: 2rem;

            .icon {
              font-size: 3rem;
              background-image: linear-gradient(to left, $color-secondary 0%, $color-secondary  75%, $color-secondary-light  100%);
              -webkit-background-clip: text;
              background-clip: text;
              -webkit-text-fill-color: transparent;
            }
        }
    }
    
}
  
  .screen {
    position: relative;
    background: $color-white;
    border-radius: 15px;
  }
  
  .screen:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
  }
  
  .screen-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-image: linear-gradient(to bottom, $color-primary-darker 0%, $color-primary  51%, $color-primary-darker  100%);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .screen-header-left {
    margin-right: auto;
  }
  
  .screen-header-button {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 3px;
    border-radius: 8px;
    background: white;
  }
  
  .screen-header-button.close {
    background: $color-white;
  }
  
  .screen-header-button.maximize {
    background: rgba($color-white, .7);
  }
  
  .screen-header-button.minimize {
    background: rgba($color-white, .5);
  }
  
  .screen-header-right {
    display: flex;
  }
  
  .screen-header-ellipsis {
    width: 3px;
    height: 3px;
    margin-left: 2px;
    border-radius: 8px;
    background: rgba($color-white, .5);
  }
  
  .screen-body {
    display: flex;
  }
  
  .screen-body-item {
    flex: 1;
    padding: 50px;
  }
  
  .screen-body-item.left {
    display: flex;
    flex-direction: column;
  }
  
  .app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: $color-secondary;
    font-size: 26px;
  }
  
  .app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: $color-secondary;
  }
  
  .app-form-group {
    margin-bottom: 1.5rem;
  }
  
  .app-form-group.message {
    margin-top: 4rem;
  }
  
  
  .app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid $color-secondary;
    color: #ddd;
    font-size: 1.4rem;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
  }
  
  .app-form-control::placeholder {
    color: #666;
  }
  
  .app-form-control:focus {
    border-bottom-color: $color-tertiary;
  }

  .buttons {
    @include flex-rows;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 3rem;
  }
  
  .app-form-button {
    background: none;
    border: none;
    color: $color-primary;
    cursor: pointer;
    outline: none;
    font-size: 1.8rem!important;
  }

  
  .app-form-button:hover {
    color: $color-tertiary;
  }
  
  
  @media screen and (max-width: 520px) {
    .screen-body {
      flex-direction: column;
    }
  
    .screen-body-item.left {
      margin-bottom: 30px;
    }
  
    .app-title {
      flex-direction: row;
    }
  
    .app-title span {
      margin-right: 12px;
    }
  
    .app-title:after {
      display: none;
    }
  }
  
  @media screen and (max-width: 600px) {
    .screen-body {
      padding: 40px;
    }
  
    .screen-body-item {
      padding: 0;
    }
  }
  





// LINKS TAB NAV ACCESSIBILITY
a {
    text-decoration: none;
    color: $color-primary;   

    &:focus-visible,
    button {
        outline: 2px dashed $color-primary-light;
        outline-offset: 1rem;
    }
}

// BUTTONS TAB NAV ACCESSIBILITY
button {
    &:focus-visible {
        outline: 2px dashed $color-primary-light;
        outline-offset: 1rem;
    }
}

ul {
    list-style: none;
}

// SCREEN READERS ONLY
.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;  /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            /* 3 */
}

.sr-only-focusable:focus,
.sr-only-focusable:active {
	clip: auto !important;
	-webkit-clip-path: none !important;
		clip-path: none !important;
	height: auto !important;
	margin: auto !important;
	overflow: visible !important;
	width: auto !important;
	white-space: normal !important;
}
