@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "../abstracts/maps";
@import "../base/animations";


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /*  1rem = 10px */
    font-size: 62.5%; 
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden!important;
    width: 100vw;

    @include media-queries-max-width(tablet) {
        font-size: 57%;
    };

    @include media-queries-max-width(mobile) {
        font-size: 48%;
    };
}

body {
    position: relative;
    height: fit-content;
    width: 100%;
    background-color: transparent;
}

.full-length {
    flex-basis: 100%;
}

#main {
    padding-top: map-get($padding,large);
}

//////////////////////////////////////////////////////////////////////////////////////////////7
// HERO
.hero {
    @include flex-columns;
    justify-content: center;
    gap: 4rem;
    position: relative;
    padding: map-get($padding, medium);
    padding-bottom: 0;
    margin-top: 2rem;
    min-height: 100vh;
    max-width: 100%;
    color: $color-white;
    z-index: 1;

    background-image: url("#{$img-path}3.jpg");
    background-color: $color-white;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

    @include media-queries-max-width(large-mobile) {
        min-height: 120%;
    }


    // H1
    &__title {
        font-size: 3rem;
        height: max-content;
        text-transform: uppercase;
        width: 60%;
        line-height: 1.5;
        flex-basis: 75%;
        opacity: 1;

        // MEDIA RULES
        @include media-queries-max-width(small-desktop) {
            line-height: 1.5;
            font-size: 2.2rem;
        }

        @include media-queries-max-width(tablet) {
            font-size: 2rem;
        }

    }

    // HERO H2
    &__h2 {
        font-family: "Tangerine", cursive;
        font-style: normal;
        line-height: 1;
        letter-spacing: 0;
        font-size: 10rem;
        font-weight: map-get($font-weight,bold);
        width: 70%;

        @include media-queries-max-width(medium-desktop) {
            font-size: 8.5rem;
        }

        @include media-queries-max-width(small-desktop) {
            font-size: 7.5rem;
        }

        @include media-queries-max-width(large-mobile) {
            font-size: 6.5rem;
            padding-top: map-get($padding, large);
        }

        span {
            font-size: 18rem;

            @include media-queries-max-width(medium-desktop) {
                font-size: 13rem;
            }

            @include media-queries-max-width(small-desktop) {
                font-size: 10rem;
            }

            @include media-queries-max-width(large-mobile) {
                font-size: 6rem;
            }
        }
    }

    
    // BTNS CONTAINERS
        .btn-container {
            @include flex-rows;
            align-items: center;
            justify-content: flex-start;
            flex-basis: 50%;

            
            @include media-queries-max-width(large-mobile) {
                padding-bottom: map-get($padding, large);
            }
            
        
        }
}
// HERO ENDS

/////////////////////////////////////////////////////////////////////////

//ABOUT-MENUS
.article {
    display: flex;
    margin-top: 3rem;
    gap: 4rem;
    min-height: 100vh;
    padding: map-get($padding,medium);

    @include media-queries-max-width(tablet) {
        padding: map-get($padding, small);
    }
    
    
    // ABOUT SECTION
    &__about {
        @include flex-rows;
        align-items: center;

        @include media-queries-max-width(small-desktop) {
            justify-content: center;
            align-items: flex-start;
            gap: 6rem;
        }

        &--h2 {
            flex-basis: 66%;
            margin-left: 10%;
            text-transform: uppercase;

            @include media-queries-max-width(small-desktop) {
                flex-basis: 100%;
                margin-left: 0;
                text-align: center;
            }
        }

        &--content {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            align-items: center;

            
            @include media-queries-max-width(small-desktop) {
                flex-flow: column-reverse wrap;
                gap: 4rem;
            }
        }

        &--img {
            height: auto;
            max-width: 100%;
            object-fit: cover;
            clip-path: polygon(15% 0, 100% 0, 88% 100%, 0% 100%);
            @include shadow($color-primary-darker);

            @include media-queries-max-width(small-desktop) {
                height: 75%;
            }
        }

        &--text {
            flex-basis: 35%;
            max-height: fit-content;
            box-shadow: -.7px 0px 0px 0px $color-secondary;
            padding-left: map-get($padding, medium);

            @include media-queries-max-width(small-desktop) {
                flex-basis: 100%;
            }

            @include media-queries-max-width(large-mobile) {
                box-shadow: none;
                padding-left: 0;
            }
        }

        &--btn--container {
            display: flex;
            flex-flow: row nowrap;
            gap: 3rem;
            margin-left: 10%;

            @include media-queries-max-width(small-desktop) {
                margin-left: 0;
            }
        }
    }

//////////////// SERVIZI SECTION


    &__servizi {
        @include flex-rows;
        align-items: center;
        background-color: rgba($color-grey-light, .3);

        &--h2 {
            margin-left: 10%;
            text-transform: uppercase;
        }

    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-size: map-get($font-size, regular);

        list-style: none;
        margin: 0;
        padding: 0;
      }
      
      .cards_item {
        display: flex;
        padding: 1rem;
      }
      
      @media (min-width: 40rem) {
        .cards_item {
          width: 50%;
        }
      }
      
      @media (min-width: 56rem) {
        .cards_item {
          width: 33.3333%;
        }
      }
      
      .card {
        background-color: white;
        border-radius: 5rem;
        box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: flex-end;
        overflow: hidden;
        padding: 5rem 3rem 3rem 3rem;
      }
      
      .card_content {
        padding: 5rem 3rem 2rem 3rem;
        @include flex-columns;
        gap: 2rem;

      }
      
      .card_title {
        margin: 0px;
      }
      
      .card_text {
        line-height: 1.5;
        margin-bottom: 1.25rem;    
      }


      .icon {    
        background-image: linear-gradient(to left, #AE8C63 0%, #AE8C63  75%, $color-secondary-light  100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 5.5rem;
      }


    
    // MENUS SECTION 
    &__menus {
        padding-right: map-get($padding, large);

        color: $color-white;
        text-align: right;
        background-color: $color-secondary;
    }

    // MAP SECTION
    &__map {
        text-align: right;
        background-color: $color-primary-dark;
        color: rgba($color-white, .8);
        padding: map-get($padding, large);
        justify-content: space-around;

        h2 {
            color: $color-white;
        }
    }

    // TIMES SECTION
    &__times {
        align-items: center;
        font-size: map-get($font-size, large);
        @include font-family("special");
        padding-left: map-get($padding, large);

    }

    // CHRISTMAS SECTION
    &__christmas {
        color: $color-secondary;
        padding-left: map-get($padding, large);
        background: linear-gradient( rgba($color-secondary, 0.2), rgba($color-secondary, 0.2) ), url("#{$img-path}pasqua-2024-alla-casa-cantoniera.webp");
        background-size: cover;
        background-repeat: no-repeat;
        color: $color-white;
        align-items: center;

        // MEDIA RULES
        @include media-queries-max-width(small-desktop) {
            background: linear-gradient( rgba($color-secondary, 0.2), rgba($color-secondary, 0.2) ), url("#{$img-path}pasqua-2024-alla-casa-cantoniera--mobile.webp");
            background-size: cover;
            background-repeat: no-repeat;
            color: $color-black;
            background-color: rgba(255,255,255,.4);
        }

        @include media-queries-max-width(tablet) {
            background-position: center;
        }

        h2 {
            color: #ca5093;
            background-color: rgba(255,255,255, .8);
            flex-basis: 75%;
            

            @include media-queries-max-width(small-desktop) {
            color: #ca5093;
            background-color: rgba(255, 255, 255, .8);
            flex-basis: 100%;
            }
            
        }

    }
    
    
    
    // Ps
    &__info {
        line-height: 1.8;
        letter-spacing: 2px;
        align-self: center;
        flex-basis: 30%;

        // MEDIA RULES
        @include media-queries-max-width(medium-desktop) {
            flex-basis: 100%;
            text-align: justify;
            padding: 0 map-get($padding, medium);
        }

        @include media-queries-max-width(medium-tablet) {
            padding: 0 map-get($padding, tiny);
        }

        @include media-queries-max-width(mobile) {
            text-align:left;
        }
        
        // ABOUT PARAGRAPH
        &--about {
            color: rgba($color-secondary, .78);

            // MEDIA RULES
            @include media-queries-max-width(medium-desktop) {
                margin-bottom: map-get($margin, medium);
            }
        }
        
        // MENUS PARAGRAPH
        &--menus {
            color: rgba($color-white, .8);
            background-color: rgba($color-secondary, .6);
            justify-self: flex-end;

            // MEDIA RULES
            @include media-queries-max-width(medium-desktop) {
                margin-top: map-get($margin, medium);
            }

            @include media-queries-max-width(medium-desktop) {
                margin-bottom: map-get($margin, small);
            }
        }

        // MAP PARAGRAPH
        &--map {
            @include media-queries-max-width(medium-desktop) {
                margin-top: map-get($margin, medium);
            }
        }

        // TIMES PARAGRAPH
        &--times {
            padding: map-get($padding, small);
            border: 1px solid $color-primary;

            // MEDIA RULES
            @include media-queries-max-width(medium-desktop) {
                margin-bottom: map-get($margin, medium);
            }
        }

        // CHRISTMAS PARAGRAPH
        &--christmas {
            justify-self: flex-end;
            flex-basis: 60%;
            color: $color-black;
            font-size: 2rem;
            background-color: rgba(rgba($color-white, .3), .3);
            padding: 5rem;
            

            // MEDIA RULES
            @include media-queries-max-width(small-desktop) {
                flex-basis: 80%;
                color: $color-black;
                text-align: center;

            }

            @include media-queries-max-width(medium-tablet) {
                flex-basis: 100%;
                margin-bottom: map-get($margin, medium);

            }
        }
    }

    // IMAGES
    &__image {
        @include shadow($color-secondary);
        outline: none;
        transition: outline 200ms linear;
        object-fit: contain;
        object-position: center;
        width: 100%;
        height: auto;

        &--right {
            justify-self: flex-end;
        }

        &--left {
            justify-self: flex-start;
        }

        &:hover {
            outline: 1px solid $color-white;
            outline-offset: -5rem;
        }
    }

    // ARTICLES' LINKS
    &__link {
        flex-basis: 100%;
        align-self: flex-end;
        
        // MEDIA RULES
        @include media-queries-max-width(mobile) {
            margin-bottom: map-get($margin, medium);
        }
        
        //ABOUT LINK
        &--about,
        &--christmas {
            padding-left: map-get($padding, medium);
            text-align: left; 
        }

        &--christmas {
                background-color: rgba(#ca5093, .8);
                color: $color-white!important;  
                flex-basis: 75%;
                
                @include media-queries-max-width(mobile) {
                    flex-basis: 100%;
                }
         }

        &--about {
            @include media-queries-max-width(medium-desktop) {
                margin-top: map-get($margin, small);
                color: $color-white;
            }
        }
        
        // MENUS LINK
        &--menus {
            justify-self: flex-start;
            padding-right: map-get($padding, huge);
            text-align: right;
        }

        // MAP LINK
        &--map {
            padding-right: map-get($padding, huge);
        }
        
    }
    
}

// SHOW ON SCROLL - GETS ADDED BY JS
.show {
    opacity: 1;
}









// LINKS TAB NAV ACCESSIBILITY
a {
    text-decoration: none;
    color: $color-primary;   

    &:focus-visible,
    button {
        outline: 2px dashed $color-primary-light;
        outline-offset: 1rem;
    }
}

// BUTTONS TAB NAV ACCESSIBILITY
button {
    &:focus-visible {
        outline: 2px dashed $color-primary-light;
        outline-offset: 1rem;
    }
}

ul {
    list-style: none;
}

// SCREEN READERS ONLY
.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;  /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            /* 3 */
}

.sr-only-focusable:focus,
.sr-only-focusable:active {
	clip: auto !important;
	-webkit-clip-path: none !important;
		clip-path: none !important;
	height: auto !important;
	margin: auto !important;
	overflow: visible !important;
	width: auto !important;
	white-space: normal !important;
}
