@import "../abstracts/mixins";
@import "../abstracts/variables";
@import "../abstracts/maps";

body {
        @include font-family("body");
        font-size: map-get($font-size, regular);
        font-weight: map-get($font-weight, thick);
        text-rendering: optimizeLegibility;
        line-height: 1.4;
        letter-spacing: .6px;
        color: $color-primary;

        @include media-queries-max-width(tablet) {
                font-size: map-get($font-size, medium);
        }

        @include media-queries-max-width(medium-tablet) {
                font-size: map-get($font-size, large);
        }
}

h1 {
        @include font-family("semi");
        font-size: map-get($font-size, header1);
        
        background-image: linear-gradient(to bottom, $color-primary-darker 0%, $color-primary  51%, $color-primary-darker  100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: map-get($font-weight,thick);

        @include media-queries-max-width(tablet) {
                font-size: map-get($font-size, header2);
        };

        @include media-queries-max-width(mobile) {
                font-size: map-get($font-size, header-mobile);
        };
}

h2 {
        font-size:map-get($font-size, header2);
        font-family: "SUSE", sans-serif;
        letter-spacing: 2px;
        background-image: linear-gradient(to bottom, $color-primary-darker 0%, $color-primary  51%, $color-primary-darker  100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: map-get($font-weight,regular);

        @include media-queries-max-width(mobile) {
                font-size: map-get($font-size, header-mobile);
        };
}

h3 {
        font-size: map-get($font-size, medium);
        text-transform: uppercase;
        background-image: linear-gradient(to bottom, $color-primary-darker 0%, $color-primary  51%, $color-primary-darker  100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
        font-weight: map-get($font-weight,thick);

        @include media-queries-max-width(small-desktop) {
                font-size: 1.8rem;
        }

}


p, li {
        font-size: map-get($font-size, regular);

        @include media-queries-max-width(tablet) {
                font-size: 1.8rem;
        }


}

