@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "../abstracts/maps";
@import "../base/animations";

.consulenze-body {
    background-color: $color-grey-light;

}

.consulenza-fast, .consulenza-personalizzata {
    padding: 15rem;
    @include flex-rows;
    align-items: center;
    justify-content: center;


    .property-link {
        margin-bottom: 5rem;
    }

    .property-hero {
        margin-bottom: 5rem;
    }

    h1 {
        font-size: 4rem;
    }
}

iframe {
    width: 100%;
    min-height: max-content;
}